@model ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Areas.Admin.ViewModels.Menu
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>


    @Html.BeginForm(actionName: "CreateMenu", controllerName: "Parties",FormMethod.Post,{})
    {
    <button action="submit">Confirm Menu</button>

    <section id="section-select">
        <table>

        </table>
    </section>
    }

    <section id="section-result">
        <table>
            <thead>
                <tr>
                    <th>Tên món ăn</th>
                    <th>Loại món ăn</th>
                    <th>Đơn vị</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.MenuResult)
                {
                    <tr>
                        <td>item.DishName</td>
                        <td>item.DishType.Name</td>
                        <td>item.Unit.UnitName</td>
                        <td><input type="number" value="@item.Qty"/></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

<script>

</script>

