@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Truy cập bị chặn";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn không có quyền truy cập đường dẫn này.</p>
</header>
