@model ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Areas.Admin.ViewModels.StaffViewModel

@{
    ViewData["Title"] = "Chỉnh sửa nhân viên";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <div class="float-sm-right">
                    <a asp-action="index">
                        @* <i class="fas fa-arrow-left"></i> *@
                        Danh sách nhân viên
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <dic class="card-body">
                <form asp-action="edit" asp-controller="staffs" asp-area="admin" autocomplete="off">
                    <div class="row mb-12">
                        <div class="col-md-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="StaffId" />
                            <div class="form-group required">
                                <label asp-for="StaffName" class="control-label"></label>
                                <input asp-for="StaffName" class="form-control" />
                                <span asp-validation-for="StaffName" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="Sex" class="control-label"></label>
                                <select asp-for="Sex" class="form-control">
                                    <option value=false>Nữ</option>
                                    <option value=true>Nam</option>
                                </select>
                                <span asp-validation-for="Sex" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Lưu" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="CitizenNumber" class="control-label"></label>
                                <input asp-for="CitizenNumber" class="form-control" />
                                <span asp-validation-for="CitizenNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="StaffTypeId" class="control-label"></label>
                                <select asp-for="StaffTypeId" class="form-control" asp-items="ViewBag.StaffTypeId"></select>
                            </div>
                        </div>
                    </div>
                </form>
            </dic>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
